.section-brands-slider {
  margin: 40px 0 0 0;
  padding: 45px 0 0px 0;
  background-color: #fff;
  min-height: 167px;
  .slick-prev,
  .slick-next {
    &:before {
      color: #5d5e60;
    }
  }
  .container {
    position: relative;
  }
}
