.sidebar {
  margin: 19px 0 0 -13px;
  h2 {
    font-size: 20px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
  }
  .widget {
    h2 {
      font-size: 20px;
      border-bottom: 1px solid #cccccc;
      padding-bottom: 10px;
      text-transform: uppercase;
    }
    ul {
      padding: 0;
      list-style: none;
      margin: 33px 0 0 0;
      font-weight: bold;
      font-size: 16px;
      li {
        margin-bottom: 17px;
        a {
          display: block;
          color: #595959;
          outline: none;
          font-weight: bold;
          &:hover,
          &:focus,
          &:active {
            color: #34a994;
            text-decoration: none;
          }
        }
        span {
          letter-spacing: 1px;
        }
      }
    }
  }
}
.expantionpanel-style {
  .MuiPaper-root {
    box-shadow: none;
    background: transparent;
  }
  .MuiExpansionPanelSummary-content {
    .accordion-toggle {
      font-weight: 600;
      font-size: 16px;
      padding: 0 0 0 26px;
    }
    .accordion-toggle:before {
      content: "";
      font-size: 18px;
      font-family: fontawesome;
      z-index: 10;
      font-weight: 100;
      left: 18px;
      top: 10px;
      position: absolute;
      color: #a7a7a7;
      display: inline-block;
      vertical-align: super;
      transform: rotate(270deg);
    }
  }

  .Mui-expanded {
    .accordion-toggle:before {
      top: 19px;
      transform: rotate(360deg);
    }
  }
}

@media only screen and (max-width: 767px) {
}
