body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //   sans-serif;
  font-family: Gilroy, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  background-color: #fbfbfb !important;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("./fonts/Gilroy/Gilroy-Light.eot");
  src: url("./fonts/Gilroy/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy/Gilroy-Light.woff2") format("woff2"),
    url("./fonts/Gilroy/Gilroy-Light.woff") format("woff"),
    url("./fonts/Gilroy/Gilroy-Light.ttf") format("truetype"),
    url("./fonts/Gilroy/Gilroy-Light.svg#Gilroy-Light") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("./fonts/Gilroy/Gilroy-Bold.eot");
  src: url("./fonts/Gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy/Gilroy-Bold.woff2") format("woff2"),
    url("./fonts/Gilroy/Gilroy-Bold.woff") format("woff"),
    url("./fonts/Gilroy/Gilroy-Bold.ttf") format("truetype"),
    url("./fonts/Gilroy/Gilroy-Bold.svg#Gilroy-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-Heavy";
  src: url("./fonts/Gilroy/Gilroy-Heavy.eot");
  src: url("./fonts/Gilroy/Gilroy-Heavy.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy/Gilroy-Heavy.woff2") format("woff2"),
    url("./fonts/Gilroy/Gilroy-Heavy.woff") format("woff"),
    url("./fonts/Gilroy/Gilroy-Heavy.ttf") format("truetype"),
    url("./fonts/Gilroy/Gilroy-Heavy.svg#Gilroy-Heavy") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("./fonts/Gilroy/Gilroy-Regular.eot");
  src: url("./fonts/Gilroy/Gilroy-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Gilroy/Gilroy-Regular.woff2") format("woff2"),
    url("./fonts/Gilroy/Gilroy-Regular.woff") format("woff"),
    url("./fonts/Gilroy/Gilroy-Regular.ttf") format("truetype"),
    url("./fonts/Gilroy/Gilroy-Regular.svg#Gilroy-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy/Gilroy-Medium.eot");
  src: url("./fonts/Gilroy/Gilroy-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Gilroy/Gilroy-Medium.woff2") format("woff2"),
    url("./fonts/Gilroy/Gilroy-Medium.woff") format("woff"),
    url("./fonts/Gilroy/Gilroy-Medium.ttf") format("truetype"),
    url("./fonts/Gilroy/Gilroy-Medium.svg#Gilroy-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:focus {
  outline: none;
}
.MuiCheckbox-colorSecondary.Mui-checked {
  color: #ef4036 !important;
}
.datepicker-style {
  #container {
    margin: 2px 5px 2px;
    div {
      margin-left: 0 !important;
      div {
        height: 50px !important;
      }
    }
  }
}
@import "./Scss/index.scss";
.MuiButtonBase-root {
  cursor: pointer !important;
  &:hover {
    cursor: pointer !important;
  }
}
button {
  cursor: pointer !important;
  &:hover {
    cursor: pointer !important;
  }
}
