.mb-50 {
  margin-bottom: 50px;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mr-50 {
  margin-right: 50px !important;
}
.mr-40 {
  margin-right: 40px !important;
}
.mr-30 {
  margin-right: 30px !important;
}
.mr-20 {
  margin-right: 20px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.ml-50 {
  margin-left: 50px !important;
}
.ml-40 {
  margin-left: 40px !important;
}
.ml-30 {
  margin-left: 30px !important;
}
.ml-20 {
  margin-left: 20px !important;
}
.ml-10 {
  margin-left: 10px !important;
}

// .row-margin-set-100 {
//   // margin: 0 100px 0 !important;
// }
.row-margin-set-auto {
  margin: 0 auto !important;
}
// Banner Style Start
// Brahmrshi Raval
.contactpage-banner {
  padding: 6px 0 !important;
}
.notfound-banner {
  padding: 6px 0 !important;
}
.loginpage-banner {
  padding: 50px 0 0px !important;
}
.main-banner-style {
  // background: url(../Images/HomePage/bg-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0 0;
  color: $white;
  .banner-content {
    padding: 0 30px 0 70px;
    h1 {
      color: $white;
      font-size: 42px;
      font-weight: bold;
      .alter-color {
        color: $red;
      }
    }
    p {
      font-size: 14px;
    }
    .link-button {
      a {
        background: $red;
        padding: 10px 30px;
        text-transform: uppercase;
        font-size: 12px;
        border-radius: 3px;
        color: $white;
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
.header-color {
  color: $red;
}
.address-container-row {
  padding: 10px;
  justify-content: center;
}

.banner-contact {
  text-align: center;
  h1 {
    color: #ef4036;
  }
  p {
    color: #fff;
  }
}
.contact-container {
  // margin: 50px;
  padding: 80px 0px;
}
.left-align-content {
  text-align: left;
  // padding: 10px;
}
.address-image {
  width: 100px;
  height: auto;
}
.telephone-email-image {
  width: 50px;
  height: auto;
}
.address-header {
  text-align: center;
  // border-bottom: 4px solid #ef4036;
  margin-bottom: 10px;
}

p.address {
  font-weight: 400;
}
.notfound-page-container {
  margin: auto;
  padding: 50px 0;
  .image-section {
    text-align: center;
    img {
      width: 500px;
    }
  }
  .notfound-details {
    h2 {
      font-size: 4.1rem;
      margin-bottom: 10px;
      color: $blue;
    }
    h1 {
      font-size: 3.24rem;
      margin-bottom: 10px;
      color: $blue;
    }
    p {
      font-size: 1.5rem;
      li {
        display: contents !important;
        a {
          color: $red;
        }
      }
    }
  }
  .homebutton {
    text-align: center;
    a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      padding: 10px 25px;
      background: $red;
      color: $white;
      &:hover {
        text-decoration: none;
        background: $blue;
      }
    }
  }
}

@media screen and (max-width: 767px), screen and (max-width: 785px) {
  .contact-container {
    padding: 25px 15px;
  }
  .address-image {
    width: 75px;
    height: auto;
  }
  .left-align-content {
    margin: 0 0 20px;
  }
  .banner-content {
    padding: 0 20px !important;
  }
  .row-margin-set-100 {
    margin: 0 !important;
  }
  .main-banner-style {
    padding: 50px 0;
  }
  .m-m-0 {
    margin: 0 !important;
  }
  .m-mb-50 {
    margin-bottom: 50px;
  }
  .m-mb-40 {
    margin-bottom: 40px !important;
  }
  .m-mb-30 {
    margin-bottom: 30px !important;
  }
  .m-mb-20 {
    margin-bottom: 20px !important;
  }
  .m-mb-10 {
    margin-bottom: 10px !important;
  }
  .m-mt-50 {
    margin-top: 50px !important;
  }
  .m-mt-40 {
    margin-top: 40px !important;
  }
  .m-mt-30 {
    margin-top: 30px !important;
  }
  .m-mt-20 {
    margin-top: 20px !important;
  }
  .m-mt-10 {
    margin-top: 10px !important;
  }
  .m-mr-50 {
    margin-right: 50px !important;
  }
  .m-mr-40 {
    margin-right: 40px !important;
  }
  .m-mr-30 {
    margin-right: 30px !important;
  }
  .m-mr-20 {
    margin-right: 20px !important;
  }
  .m-mr-10 {
    margin-right: 10px !important;
  }
  .m-ml-50 {
    margin-left: 50px !important;
  }
  .m-ml-40 {
    margin-left: 40px !important;
  }
  .m-ml-30 {
    margin-left: 30px !important;
  }
  .m-ml-20 {
    margin-left: 20px !important;
  }
  .m-ml-10 {
    margin-left: 10px !important;
  }
  .m-p-0 {
    padding: 0 !important;
  }
  .textfiled-style {
    width: auto !important;
  }
}
// Banner Style End
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"].textfiled-style:hover {
  cursor: inherit !important;
}
