.footer {
  background-color: #fbfbfb;
  .footer-logo-holder {
    margin: 50px 0 0 0;
    position: relative;
    text-align: center;
    img {
      position: relative;
      z-index: 10;
    }
    &::before {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #d6d6d6;
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 0;
    }
  }
  .footer-holder {
    margin: 60px 0 0 0;
  }
  .footer-column {
    .link-list {
      margin: 0 0 0 4px !important;
      padding: 0 0 0 4px !important;
      li {
        text-transform: capitalize;
        color: #595959;
        line-height: 25px;
        font-size: 15px;
        list-style: none;
        &:before {
          content: "-";
          color: #595959;
          float: left;
        }
      }
    }
    h4 {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 17px;
      border-bottom: 1px solid #d6d6d6;
      padding-bottom: 13px;
    }
    .content {
      margin: 20px 0 0 0;
      font-size: 15px;
    }
    a {
      display: block;
      color: #595959;
      outline: none;
      &:hover,
      &:focus,
      &:active {
        color: #34a994;
        text-decoration: none;
      }
    }
  }
  .adress-column {
    p {
      text-transform: capitalize;
    }
  }
  .adress-column {
    .bold {
      margin-bottom: 17px;
    }
  }
  .footer-socials {
    margin: 30px 0 0 0;
    ul {
      padding: 0;
      list-style: none;
      li {
        display: inline-block;
        font-size: 20px;
        width: 20px;
        height: 20px;
        text-align: center;
        margin: 16px 30px 0 0;
      }
      a {
        display: block;
        color: #595959;
        outline: none;
        &:hover,
        &:focus,
        &:active {
          color: #34a994;
          text-decoration: none;
        }
      }
    }
  }
  .footer-products {
    list-style: none;
    padding: 0;
    margin: 27px 0 0 0;
    a {
      display: block;
      color: #595959;
      outline: none;
      font-weight: bold;
      &:hover,
      &:focus,
      &:active {
        color: #34a994;
        text-decoration: none;
      }
    }
    li {
      margin: 0 0 33px 0;
      padding: 0;
    }
    h5 {
      margin-bottom: 8px;
      line-height: 16px;
    }
    .thumb {
      text-align: left;
      img {
        margin-left: -15px;
        width: 60px;
        height: 60px;
      }
    }
  }
  .previous-price {
    text-decoration: line-through;
    margin-right: 10px;
  }
  .footer-payment-icons {
    text-align: center;
    background-color: #fff;
    margin: 50px 0 30px 0;
    padding: 20px 0 0 0;
    li {
      margin: 0 -8px;
    }
  }
  .list-inline {
    padding-left: 0;
    list-style: none;
  }

  .list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }

  .list-inline > li:first-child {
    padding-left: 0;
  }
}
@media only screen and (max-width: 767px) {
  .footer-column {
    margin-bottom: 70px !important;
    width: 200px !important;
    margin-left: -30px !important;
    h4 {
      text-align: center !important;
    }
  }
  .footer-products {
    .thumb {
      text-align: center !important;
      padding: 0 0 0 10px !important;
      margin: 0 0 10px 0 !important;
      width: 100% !important;
    }
    .body {
      text-align: center !important;
      width: 100% !important;
    }
  }
}
