.header {
  background-color: #fbfbfb;
  .laguage {
    padding: 20px 0;
    background-color: #fff;
    ul {
      list-style: none;
      text-transform: uppercase;
      li {
        display: inline-block;
        margin-right: 4px;
        &.active {
          a {
            font-weight: bold;
          }
        }
        a {
          display: block;
          color: #595959;
          outline: none;
          &:hover,
          &:focus,
          &:active {
            color: #34a994;
            text-decoration: none;
          }
        }
      }
    }
  }
  section {
    position: relative;
  }
  .top-area {
    min-height: 200px;
  }
  .style-one-header {
    padding: 42px 0 0 0;

    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .login-menu-holder {
    position: relative;
    padding: 0;
    a {
      font-weight: 800;
      color: #000000;
      &:hover,
      &:focus,
      &:active {
        color: #34a994;
        text-decoration: none;
      }
    }
  }
  .ic-sm-user:before {
    content: "";
    top: 10px;
    position: relative;
    width: 27px;
    height: 27px;
    display: inline-block;
    background: url("../Images/ic-user.png") no-repeat;
  }
  .hotline-holder {
    margin: 21px 0 0 0;
    label {
      font-weight: 500;
    }
    span {
      font-size: 18px;
      font-weight: bold;
      line-height: 18px;
    }
  }
  .ic-sm-phone:before {
    content: "";
    top: 10px;
    position: relative;
    width: 27px;
    height: 27px;
    display: inline-block;
    background: url("../Images/ic-phone.png") no-repeat;
  }
  .ic-sm-heart:before {
    content: "";
    top: 10px;
    position: relative;
    width: 27px;
    height: 27px;
    display: inline-block;
    background: url("../Images/ic-heart.png") no-repeat;
  }
  .top-logo-holder {
    text-align: center;
    display: block;
  }
  .top-logo {
    position: absolute;
    top: -103px;
    left: 0;
    right: 0;
  }
  .wishlist-holder span {
    font-weight: bold;
    font-size: 16px;
  }
  .wish-cart-holder {
    margin-left: 32px;
  }
  .wishlist-holder {
    margin-right: 20px;
    display: inline-block;
    float: left;
  }
  .search-holder {
    margin: 13px 7px 0 0;
    display: inline-block;
    float: right;
    z-index: 1000;
    position: relative;
    min-width: 276px;
  }

  .search-holder:after {
    content: "";
    background-image: url(../Images/ic-search.png);
    background-position: 0px -26px;
    display: inline-block;
    width: 27px;
    height: 27px;
    position: absolute;
    top: 7px;
    right: 9px;
  }
  .search-holder input {
    border: 1px solid #dddddd;

    padding: 10px 10px 10px 20px;
    width: 100%;
  }
  .search-holder input:focus {
    border: 1px solid #34a994;
    outline: none;
  }
  .top-menu {
    min-height: 48px;
    position: relative;
    border-bottom: 6px solid #34a994;
    ul {
      list-style: none;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 16px;
      padding: 6px 0 0 0;
      li {
        margin: 0px;
        display: inline-block;
      }
      a {
        padding: 24px 24px;
        color: #000000;
        &:hover,
        &:focus,
        &:active {
          color: #34a994;
          text-decoration: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .top-logo-holder {
    height: 300px !important;
  }
  .top-logo {
    top: 15px !important;
  }
  .top-menu > ul > li > a {
    padding: 24px 15px !important;
  }
  .wish-cart-holder {
    width: 100% !important;
    margin-left: 0 !important;
    text-align: center !important;
  }
  .wishlist-holder,
  .top-cart-holder {
    float: none !important;
  }
}
