.section-home-banner {
  text-align: center;
}
.section-home-banner img {
  width: 100%;
}
.backgound-color-set {
  background-color: #fbfbfb;
}
.section-newsletter {
  background-color: #fff;
  margin: 45px 0 0 0;
  padding: 65px 0;
}
.news-letter-holder {
  margin: 0 60px;
}
.newsletter-title {
  h2,
  h3 {
    color: #595959;
    text-transform: uppercase;
    text-align: right;
  }
  h2 {
    font-size: 17px;
    letter-spacing: 0;
    line-height: 17px;
    font-weight: 700;
  }
  h3 {
    font-weight: 100;

    font-size: 14px;
  }
}
.newsletter-body {
  margin: 0 0 0 30px;
  button {
    margin: 2px 0 0 20px;
    background-color: #595959;
    padding: 7px 25px;
    color: #fff;
    text-align: center;
    border: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
  }
  input {
    border: 1px solid #dcdcdc;
    color: #8d8d8d;
    letter-spacing: 1px;
    padding: 8px 19px;
    outline: none;
  }
}

.section-banners {
  margin: 75px 0 0 0;
}
.section-from-out-blog {
  margin: 75px 0 65px 0;
  h2 {
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
  }
  a {
    display: block;
    color: #595959;
    outline: none;
    &:hover,
    &:focus,
    &:active {
      color: #34a994;
      text-decoration: none;
    }
  }
  .items-holder {
    margin: 70px 0 0 0;
  }
  .from-blog-item {
    .body {
      h4 {
        margin: 0 0 15px 0;
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;
      }
      .date {
        font-size: 12px;
        line-height: 12px;
      }
      .excerpt {
        margin: 8px 0 23px 0;
      }
      .comment {
        color: #595959;
        span {
          margin-right: 5px;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .news-letter-holder {
    margin: 0 !important;
  }

  .newsletter-title {
    margin-bottom: 20px !important;
    h2,
    h3 {
      text-align: center !important;
    }
    h2 {
      font-size: 27px !important;
      line-height: 47px !important;
    }
  }
  .section-banners {
    text-align: center !important;
  }
  .homepage-banner {
    margin: 9px 0 !important;
    overflow: hidden;
  }
}
