// Color Variabless
$white: #ffffff;
$black: #000000;
$blue: #283891;
$red: #ef4036;
$titlecolor: #0e1642;
$subtitle: #666666;
$servicetitle: #4f4f68;
$servicetext: #545963;
$darkgrey: #222222;
$footercolor: #0b1239;
$greybg: #f6f7f9;
$activemenu: #d8ddfb;
$formlabel: #9a9b9d;
$tabpaneltitle: #52545c;

// $FontRegular: "Gilroy";
// $FontLight: "Gilroy-bold";
// $FontMedium: "HelveticaNeue-Medium";
